<html>
  <head>
    <title>Contact list</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div>
      <div class="header">
        <div class="image">
          <img
            id="contact-list-icon"
            src="https://cdn-icons-png.flaticon.com/512/733/733443.png"
            alt=""
          />
        </div>
        <div id="contact-list">My Contact List</div>
      </div>
      <div class="main">
        <ul>
          <% for(i of contactList) { %>
          <li>
            <p><%= i.name %></p>
            <p><%= i.phone %></p>
            <a href="/delete-contact/<%= i.phone %>">
              <img
                id="delete-icon"
                src="/images/delete-icon.png"
                alt=""
                srcset=""
              />
            </a>
          </li>
          <% } %>
        </ul>
      </div>
      <form action="/add-contact" method="post">
        <input type="text" name="name" placeholder="Enter Name" required />
        <input type="number" name="phone" placeholder="Phone Number" required />
        <button type="submit">Add</button>
      </form>
    </div>
  </body>
  <script src="/js/home.js"></script>
</html>
