<html>
  <head>
    <title>Contact list</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div>
      <h1>Contact List</h1>
      <ul>
        <% for(i of contactList) { %>
        <li>
          <p><%= i.name %></p>
          <p><%= i.phone %></p>
          <form action="">
            <button type="submit">Delete</button>
          </form>
        </li>
        <% } %>
      </ul>
    </div>
    <form action="/contact" method="post">
      <input type="text" name="name" placeholder="Enter Name" required />
      <input type="text" name="phone" placeholder="Phone Number" required />
      <button type="submit">Add Contact</button>
    </form>
  </body>
  <script src="/js/home.js"></script>
</html>
